:root{

  --vermelho:#E50914;
  --preto:#141414;

}

*{

 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

/*Elementos base*/
body{

    background: var(--preto);
    font-family: 'Arial', 'Times New Roman', Times, serif;
    color:white
}


header .container{

 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;

}


header .logo{
 
 margin-left: 5px;   
 color: var(--vermelho);
 font-family: 'Arial Black',Times;
 font-size: 40px;

}

header nav a{

text-decoration: none;
color: #AAA;
margin-right: 10px;

}

header nav a:hover{

color: #fff;

}


/*Filme principal*/

.filme-principal{

 font-size: 16px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;

 background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('https://www.themoviedb.org/t/p/original/zXfsjpS2NCYOfYilivBbxZNdglh.jpg');
 
 height:600px;

 background-size: cover;
 
 
}


.serie-principal{

  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('https://www.themoviedb.org/t/p/original/dNcZUxFnFe6NMv6NQPuQMw5B9u0.jpg');
  
  height:600px;
 
  background-size: cover;

}

.documentario-principal{

  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('https://www.themoviedb.org/t/p/original/veBzDrayUD3judzRzCntwroDT0y.jpg');


  height:600px;
 
  background-size: cover;

}




.filme-principal .descricao{
 margin-top: 10px; 
 margin-bottom: 90px;
 width: 50%;

}

.serie-principal .descricao{
 margin-top: 10px;
 margin-bottom: 90px;

}

.documentario-principal .descricao{
  margin-top: 10px;
  margin-bottom: 90px;
  width: 50%;
 
 }



.titulo{
 margin-top: 15%;
 font-size: 60px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.descricao{

  font-size: 18px;
  padding-left: 12px;
}

.botao{

 background-color: rgba(0, 0, 0,.50);
 border:none;
 color:white;

 padding: 15px 30px;
 margin-right: 15px;
 font-size: 12px;

 cursor: pointer;
 transition: 1s ease all;
}

.botao:hover{
 background-color: white;
 color: black;

}

.botao i{

margin-right: 8px;

}

.container{
 margin-left: 20px;

}

.filme-principal .container{
 width: 70%;

}

.box-filme{
 height: 100%;
 width: 100%;
 display: block;

}

.carrosel-filmes{
 margin-top: 10px;

}






